<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Logic Challenge</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="./">Home</a></li>
            <li role="presentation"><a href="./about">About</a></li>
            <li role="presentation"><a href="./admin">Admin</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Logic Challenge</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">Thank you for your submission!</p>
      </div>

      <div class="row marketing">
        <h1>Challenge Stats</h1>
        <div class="col-lg-6">
          <h4>Participants</h4>
          <p>Number of unique users who have submitted an answer</p>

          <h4>Current Leader</h4>
          <p>User with most correct answers</p>

        </div>

        <div class="col-lg-6">
          <h4>Next Question</h4>
          <p>Coutdown timer to next question posting</p>

          <h4>Previous Question</h4>
          <p>Text from previous question</p>

        </div>
      </div>

      <footer class="footer">
        <p>Do or do not, There is no try</p>
      </footer>

    </div> <!-- /container -->


  </body>
</html>
